@charset "utf-8";
/* tablet */
@media screen and (min-width: 768px) and (max-width: 962px){
main{
   background-image: linear-gradient(to bottom ,#5F2C82,#4E8797,#6CD3CF);
} 


}
/* notebook */
@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        background-image: linear-gradient(to bottom ,#5F2C82,#4E8797,#6CD3CF);
     } 
}
/* tv */
@media screen and (min-width:992px){
    main{
        background-image: linear-gradient(to bottom ,#5F2C82,#4E8797,#6CD3CF);
     } 
}